./engine/*
./modules/*
engine
modules
*.d
*.o
*.meta
game/.import/**
.sconsign.dblite
.DS_Store

.vs/*
.kdev4/*

TestRWTextures

_build/*
_binaries/*
game/android/build/*

#ignore everything in the Engine Directory
engine/*

*.blend1
