engine
modules/*

*.d
*.o
*.meta
game/.import/**
game/.prop_tool_temp/**
.sconsign.dblite
.DS_Store

.vs/*
.kdev4/*
.vscode/*

TestRWTextures

_build/*
_binaries/*
game/android/build/*

*.blend1
.dir-locals.el

build.config