*
!data_manager
!data_manager/**
!module_manager
!module_manager/**
!Godoxel
!Godoxel/**
!godot-plugin-refresher
!godot-plugin-refresher/**
!gdpose
!gdpose/**
!mesh_data_resource_editor
!mesh_data_resource_editor/**
!multirun
!multirun/**
!mat_maker_gd
!mat_maker_gd/**
!color-palette
!color-palette/**
!world_generator
!world_generator/**
!addon_versions

!gdc_converter
!gdc_converter/**
